/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";


body{
    background-color: rgb(200, 206, 206);
    font-family: 'Itim';
    font-size: 24gitpx;
}